<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                 <item name="changeCustomerPasswordCommand" xsi:type="object">Training\SetCustomerPwdCommand\Command\SetCustomerPasswordCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- preference for="Training\SetCustomerPwdCommand\Model\PasswordSetter" type="Training\SetCustomerPwdCommand\Model\PasswordSetter\Proxy"/ --> <!-- Variante, um code erst zu instantiieren sobald benötigt -->
    <!-- type name="Training\SetCustomerPwdCommand\Command\SetCustomerPasswordCommand">
        <arguments>
            <argument name="passwordSetter" xsi:type="object">Training\SetCustomerPwdCommand\Model\PasswordSetter\Proxy</argument>
        </arguments>
    </type --> <!-- Variante, um code erst zu instantiieren sobald benötigt, wobei diese preferece nur für diese Klasse SetCustomerPasswordCommand gilt-->
 </config>
